body {
  font-family: 'Indie Flower', cursive;
  background-color: rgb(179, 0, 0);
  color: rgb(242, 242, 242);
}

.pizza-game-container {
  display: flex;
}

.pizza-scoreboard {
  color: rgb(64, 64, 64);
  border: 1px solid rgb(64, 64, 64);
  display: inline;
  margin-top: 8px;
  margin-bottom: 2%;
  margin-right: 2%;
  width: 70vw;
  padding: 8px;
}

.pizza-header {
  text-align: center;
  color: rgb(0,0,0);
  text-transform: uppercase;
  display: flex;
  margin: 0;
}

.pizza-header > span > h1 {
  display: inline-flex;
  margin-top: 32px;
}

.pizza-header > span > img {
  width: 128px;
}

.pizza-toppings-control-panel {
  padding: 8px;
  display: flex;
  width: 25vw;
}

.pizza-toppings-control-panel-buttons {
  display: inline;
}

.pizza-toppings-control-panel-buttons > button {
  display: block;
  width: 100px;
  border-style: none;
  margin-bottom: 4px;
  background-color: rgb(200, 200, 200);
  padding: 8px;
  font-size: medium;
}

.pizza-toppings-control-panel-buttons > button:hover {
  background-color: rgb(175, 175, 175);
}

button.pizza-deliver-button {
  background-color: rgb(0, 192, 108);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

button.pizza-deliver-button:hover {
  background-color: rgb(0, 200, 114);
}

.pizza-button-new-game {
  font-size: medium;
  margin: 8px;
  font-weight: bold;
  padding: 4px;
}

.pizza-toppings-preview {
  border: 1px solid black;
  margin-left: 8px;
  display: inline;
  width: 128px;
  height: 128px;
}

.pizza-toppings-preview > img {
  margin: 0;
  width: 128px;
  display: inline;
  position: absolute;
}

.pizza-footer {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid #dadada;
}

.control-panel-spacer {
  border-bottom: 2px solid rgb(128, 128, 128);
  margin-top: 8px;
  margin-bottom: 8px;
}

.pizza-info {
  border: 1px solid rgb(0, 0, 0);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding: 8px;
  color: rgb(96, 96, 96);
  font-size: large;
  width: 90vw;
}

.pizza-info-container {
  display: flex;
}

.pizza-arnold-container {
  margin-right: 16px;
}

.pizza-arnold-container > img {
  width: 128px;
}

.pizza-delivered-title {
  display: block;
  font-weight: bold;
  font-size: large;
}

.pizza-delivered-container {
  display: block;
  margin-bottom: 32px;
}

.delivered-pizza {
  margin-top: 4px;
  margin-left: 8px;
  display: inline-block;
  width: 64px;
  height: 64px;
}

.delivered-pizza > img {
  margin: 0;
  width: 64px;
  position: absolute;
}


#app {
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(242, 242, 242);
  height: 97vh;
  width: 98vw;
  margin: 4px;
  overflow-y: scroll
}
